body {
    font-family: Arial, sans-serif;
    background-color: #f8c9cf; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

img{
    width: 170px;
    height: auto;
}

h2 {
    font-size: 1.5em;
    color: #000;
    margin-bottom: 20px;
}


form {
    margin-bottom: 20px;
}


label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    font-size: 0.9em;
}


input[type="text"],
input[type="password"] {
    width: 92%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9em;
}


button {
    width: 98%;
    padding: 10px;
    background-color: #f8a5ad;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #f4979a; 
}


p {
    font-size: 0.9em;
    color: #000;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
}

a:hover {
    color: #ff6347;
    text-decoration: underline;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .container{
        margin: 20px;
    }

    img{
        width: 120px;
    }
}